@keyframes loaderStatic {
        0% {
                bottom: 0%;
        }
        30% {
                bottom: 90%;
        }
        80% {
                bottom: 20%;
        }
        100% {
                bottom: 90%;
        }
}



.loader-static {
        @apply w-full bg-gray-100 relative block overflow-hidden;

        &:before, &:after {
                @apply bg-white filter transition;
                animation-name: loaderStatic;
                animation-fill-mode: both;
                 animation-iteration-count: infinite;
                 animation-direction: alternate;
                 position: absolute;
                 left: 0;
                 right: 0;
                //  content: "";
        }


        &:after {
                @apply opacity-30 ease-in h-16 blur-lg;
                content: "";
                animation-duration: 1.3s;
        }

        &:before {
                @apply opacity-50 filter blur-md h-8 ease-in-out;
                content: "";
                animation-duration: 3s;
        }
}